<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<appSettings>
		<add key="defaultSmtpAdress" value="mail.visilabs.com"/>
		<add key="smtpUser" value="egemengulkilik@gmail.com"/>
		<add key="smtpPassword" value="arabiya1660"/>
		<add key="defaultSender" value="egemengulkilik@gmail.com"/>
		<add key="attachmentsFolder" value="C:\Users\Egemen\Desktop\"/>
        <add key ="timerMiliSeconds" value="6000"/>
	</appSettings>	
</configuration>